<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <p><strong>Название:</strong> {{TestActionsService.getActivePin().name}}</p>
  <p><strong>Адрес:</strong> {{TestActionsService.getActivePin().address}}</p>
  <p><strong id="desc">Описание:</strong> {{TestActionsService.getActivePin().desc}}</p>

  <p>Активные бронирования: </p>
  <div *ngFor="let p of TestActionsService.getActivePin().booked"
  >{{p.startDate}} - {{p.endDate}}</div>
  <p><i>Выберите дату начала аренды</i></p>
  <input type="date" name="Start" formControlName="startDate">
  <p><i>Выберите дату окончания аренды</i></p>
  <input type="date" name="End" formControlName="endDate">
  <button class="btn" type="submit" [disabled]="form.invalid">Забронировать Дом</button>
</form>



