<form
  (ngSubmit)="submit()"
  [formGroup]="form"
  [ngStyle]="isVisible ? { display: 'block' } : { display: 'none' }"
  class="card"
>
  <p>Добавление дома</p>
  <input formControlName="country" placeholder="Страна" type="text" />
  <input formControlName="street" placeholder="Улица" type="text" />
  <input formControlName="desc" placeholder="Описание" type="text" />
  <button [disabled]="form.invalid" class="btn" type="submit">Отправить</button>
</form>
<button
  (click)="changeVisibilityOfAddHouseForm()"
  [ngStyle]="isVisible ? { display: 'none' } : { display: 'block' }"
  class="center"
>
  Добавить дом
</button>
